In [68]:
import urllib3
import requests
import os
import zipfile
import csv

import swat

In [69]:
from swat import *
cassession = CAS('sasserver.demo.sas.com', 5570, authinfo='~/.authinfo', caslib="casuser")
cassession.loadactionset(actionset="table")

NOTE: Added action set 'table'.

[actionset]

 'table'

+ Elapsed: 0.00174s, user: 0.002s, mem: 0.0553mb

In [100]:
url = 'http://nwis.waterdata.usgs.gov/nwis/uv?cb_00060=on&cb_00065=on&format=rdb&site_no=02175000&period=&begin_date=2016-06-01&end_date=2016-10-19'
http = urllib3.PoolManager()
urllib3.disable_warnings()
response = http.request('GET',url)
with open('temp.dat','wb') as f:
    f.write(response.data)
f.close()

In [101]:
#Clean the headers out of the extract. This is very regular in USGS streamflow through 2017
f2 = open("temp2.dat","w")
for line in open("temp.dat","r").readlines():
    if line[0] != "#" and line[0] != "5":
        f2.write(line)
f2.close()

In [96]:
in_txt = csv.reader(open("temp2.dat", "r"), delimiter = '\t')
out_csv = csv.writer(open("temp.csv", 'w'))

out_csv.writerows(in_txt)

In [95]:
#cassession.dropTable("TEMP")

NOTE: Cloud Analytic Services dropped table TEMP from caslib CASUSER(viyauser).

+ Elapsed: 0.000411s, user: 0.001s, mem: 0.0302mb

In [97]:
cas_table = cassession.upload("temp.csv").casTable

NOTE: Cloud Analytic Services made the uploaded file available as table TEMP in caslib CASUSER(viyauser).
NOTE: The table TEMP has been created in caslib CASUSER(viyauser) from binary data uploaded to Cloud Analytic Services.

In [98]:
cas_table.head()

,agency_cd,site_no,datetime,tz_cd,128196_00065,128196_00065_cd,128198_00060,128198_00060_cd
0,USGS,2175000.0,2016-06-01 00:00,EST,5.61,P,1860.0,P
1,USGS,2175000.0,2016-06-01 01:00,EST,5.61,P,1860.0,P
2,USGS,2175000.0,2016-06-01 02:00,EST,5.61,P,1860.0,P
3,USGS,2175000.0,2016-06-01 03:00,EST,5.60,P,1850.0,P
4,USGS,2175000.0,2016-06-01 04:00,EST,5.60,P,1850.0,P

## Identify High, Medium and Low streamflow clusters

In [104]:
cassession.loadactionset(actionset='clustering')
cassession.kclus(table={"name":"TEMP"}, inputs={"128198_00060"},nClusters=3,seed=123,maxIters=100,init="RAND")

NOTE: Added action set 'clustering'.
NOTE:  Using SEED=123.
NOTE: Running for input data for K 3.
NOTE: Clustering is finished. STOPVALUE is satisfied for STOPCRITERION=CLUSTER_CHANGE.

[NObs]

 Number of Observations

                           Type       N
 0  Number of Observations Read  3399.0
 1  Number of Observations Used  3399.0

[ModelInfo]

 Model Information

               Parameter         Setting
 0    Maximum Iterations             100
 1        Stop Criterion  Cluster Change
 2  Stop Criterion Value               0
 3              Clusters               3
 4        Initialization            Rand
 5                  Seed             123
 6              Distance       Euclidean
 7       Standardization            None
 8   Interval Imputation            None

[ClusterSum]

 Cluster Summary for Interval Variables

    Cluster  Frequency    MinDist      MaxDist      AvgDist           SSE  \
 0        1      655.0   4.000000  5206.000000   969.196947  1.304343e+09
 1        2      217.0  45.253456  5235.253456  2689.187708  2.037814e+09
 2        3     2527.0   1.292837  1275.707163   317.055475  4.318666e+08

    StdDeviation  NearestClus  DBtwCentroids
 0   1411.156593          3.0    2569.707163
 1   3064.448749          1.0   10511.253456
 2    413.401618          1.0    2569.707163

[IterStats]

 Iteration History

     IterationNum  IterationSSE     SSEChange  StopCriterion
 0              0  3.868167e+10           NaN            NaN
 1              1  1.594490e+10 -2.273676e+10      23.448073
 2              2  5.258132e+09 -1.068677e+10       2.942042
 3              3  4.043006e+09 -1.215126e+09       1.676964
 4              4  3.887822e+09 -1.551842e+08       2.824360
 5              5  3.817830e+09 -6.999125e+07       2.265372
 6              6  3.783860e+09 -3.397015e+07       0.941453
 7              7  3.776994e+09 -6.865902e+06       0.441306
 8              8  3.775283e+09 -1.710976e+06       0.205943
 9              9  3.774225e+09 -1.058696e+06       0.088261
 10            10  3.774177e+09 -4.730551e+04       0.205943
 11            11  3.774023e+09 -1.543604e+05       0.000000

[DescStats]

 Descriptive Statistics

        Variable         Mean       StdDev
 0  128198_00060  2194.603707  3397.153996

[WithinClusStats]

 Within Cluster Statistics

        Variable  Cluster          Mean       StdDev
 0  128198_00060        1   3434.000000  1412.235047
 1                      2  13945.253456  3071.534189
 2                      3    864.292837   413.483440

[ClusterCenters]

 Cluster Centroids

    _ITERATION_  _CLUSTER_ID_  128198_00060
 0         12.0           1.0   3434.000000
 1         12.0           2.0  13945.253456
 2         12.0           3.0    864.292837

+ Elapsed: 0.0164s, user: 0.015s, sys: 0.007s, mem: 0.716mb

# Close the session

In [5]:
cassession.close()